---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Stats from '../components/Stats.astro'
import Difference from '../components/Difference.astro'
import Features from '../components/Features.astro'
import System from '../components/System.astro'
import Integrated from '../components/Integrated.astro'
import Waitlist from '../components/Waitlist.astro'
import Footer from '../components/Footer.astro'
import Waterline from '../components/Waterline.astro'
---

<Base>
  <Nav />
  <main id="main">
    <Hero />
    <Waterline />
    <Stats />
    <Difference />
    <Features />
    <System />
    <Integrated />
    <Waitlist />
  </main>
  <Footer />
</Base>
